{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
      {% include "includes/requests_statistics.html" %}
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Requests List</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Website</th>
                    <th scope="col">Price</th>
                    <th scope="col">Username</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>

                {% for row in row_list %}
                <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a  class="avatar rounded-circle mr-3">
                          {% if row.website == 'digikala' %}
                            <img alt="Image placeholder" src="/static/assets/img/theme/digikala.jpg">

                          {% elif row.website == 'namava' %}
                            <img alt="Image placeholder" src="/static/assets/img/theme/namava.jpeg">
                          {% elif row.website == 'filimo' %}
                            <img alt="Image placeholder" src="/static/assets/img/theme/filimo.png">
                          {% endif %}
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{row.website}}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      ${{row.price}} USD
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">{{row.username}}</span>
                      </div>
                    </td>
                    <td>
                      {{row.description}}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        {% if row.status == 'PENDING' %}
                           <span style="color:black; background-color:#ff9999;" class="mb-0 text-sm">Pending</span>
                        {% elif row.status == 'PROCESSED' %}
                           <span style="color:black; background-color:#8cff66;" class="mb-0 text-sm">Completed</span>
                        {% endif %}

                      </span>
                    </td>

                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <form action="request_form.html" method="post" >
        {% csrf_token %}

        <div class="text-muted text-center mt-2 mb-4">
          <input type="submit" class="btn btn-primary mt-4"  value="ثبت درخواست جدید">
        </div>
      </form>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
